<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.antifake.mapper.CipherMapper" >
  <resultMap id="BaseResultMap" type="com.antifake.model.Cipher" >
    <id column="cipher_id" property="cipherId" jdbcType="INTEGER" />
    <id column="company_id" property="companyId" jdbcType="INTEGER" />
    <result column="company_code" property="companyCode" jdbcType="VARCHAR" />
    <result column="product_code" property="productCode" jdbcType="VARCHAR" />
    <result column="cipher_text" property="cipherText" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="count" property="count" jdbcType="VARCHAR" />
    <result column="batch" property="batch" jdbcType="VARCHAR" />
    <result column="valid" property="valid" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="DATE" />
    <result column="query_time" property="queryTime" jdbcType="DATE" />
    <result column="ascend" property="ascend" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    cipher_id,company_id,company_code, product_code, cipher_text, code,count,
    batch,valid,create_time,query_time,ascend
  </sql>
  
  <insert id="insertList" parameterType="java.util.ArrayList" >
    insert into antifake_cipher
		(company_id,company_code,product_code,cipher_text,code,batch)  
		values   
		<foreach item="cipher" collection="listCipher"  separator="," >  
		(  
		#{cipher.companyId,jdbcType=VARCHAR},
		#{cipher.companyCode,jdbcType=VARCHAR},  
		#{cipher.productCode,jdbcType=VARCHAR},
		#{cipher.cipherText,jdbcType=VARCHAR},
		#{cipher.code,jdbcType=VARCHAR},
		#{cipher.batch,jdbcType=VARCHAR}
		)  
		</foreach> 
  </insert>
   <select id="queryCipher" resultMap="BaseResultMap" parameterType="com.antifake.model.Cipher" >
    select 
    <include refid="Base_Column_List" />
    from antifake_cipher
    where company_code = #{cipher.companyCode,jdbcType=VARCHAR} and product_code = #{cipher.productCode,jdbcType=VARCHAR} and code = #{cipher.code,jdbcType=VARCHAR}
  </select>
  <update id="updateCount" parameterType="com.antifake.model.Cipher">
  	update antifake_cipher set count = #{cipher.count,jdbcType=VARCHAR} where company_code = #{cipher.companyCode,jdbcType=VARCHAR} and product_code = #{cipher.productCode,jdbcType=VARCHAR} and code = #{cipher.code,jdbcType=VARCHAR}
  </update>
</mapper>