<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.antifake.mapper.ProductMapper" >
  <resultMap id="BaseResultMap" type="com.antifake.model.Product" >
    <id column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="company_id" property="companyId" jdbcType="INTEGER" />
      <result column="product_title" property="productTitle" jdbcType="VARCHAR" />
    <result column="product_details" property="template" jdbcType="VARCHAR" />
    <result column="public_key" property="publicKey" jdbcType="VARCHAR" />
  </resultMap>
 
  
  
  <sql id="Base_Column_List" >
    product_id, company_id,product_title, product_details,public_key
  </sql>
  <sql id="Base_Column_List1" >
    product_id, product_title
  </sql>
  <insert id="createProduct" parameterType="com.antifake.model.Product" >
    insert into company_product (company_id,product_details,product_title)
    values (#{companyId,jdbcType=INTEGER}, #{template,jdbcType=VARCHAR},#{productTitle,jdbcType=VARCHAR}
      )
  </insert>
  
  <select id="queryByProductId" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List"></include> from company_product where product_id = #{productId}
  </select>
  <select id="queryByCId" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List"></include> from company_product where company_id = #{companyId}
  </select>
  
  
  <update id="updateProductTime" parameterType="java.lang.Integer" >
  
    update company_product
    <set >
      <if test="productId != null" >
        produced_times = produced_times+1,
      </if>
     
    </set>
    where product_id = #{productId,jdbcType=INTEGER}
  </update>
  
</mapper>